* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: monospace;
}
:root {
  --colorBlack: #000;
  --colorWhite: #fff;
}
html,
body {
  height: 100%;
}
body {
  background-color: #fafafa;
}
button {
  text-transform: uppercase;
  cursor: pointer;
}
pre,
input,
ul {
  padding: 20px;
}
.divAnnonce {
  width: 600px;
  height: 120px;
  position: relative;
}
.divAnnonce img {
  width: 100%;
  object-fit: cover;
}
.divAnnonce span {
  position: absolute;
  color: #fff;
  font-size: 22px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  line-height: 60px;
  text-shadow: 0px 2px 0px #111;
  background-color: rgba(0, 0, 0, 0.4);
}
aside {
  background-color: #3f51b5;
  /* display: none; */
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
aside p {
  font-size: 22px;
  color: #eee;
}
aside div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hidden {
  display: none;
}
aside button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
aside button {
  background-color: transparent;
  border: 1px solid var(--colorWhite);
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
main {
  background-color: #fff;
  /* height: calc(100% - 100px); */
  /* margin: 50px; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
main header {
  border: 1px solid var(--colorBlack);
  background-color: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main header button,
main header span {
  margin: 10px;
}
main header button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
main header button {
  background-color: transparent;
  border: 1px solid var(--colorWhite);
  color: #fff;
  padding: 20px;
}
main span#spTitle {
  color: #eee;
  padding: 20px;
  font-size: 32px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}
pre,
.divView {
  display: flex;
}
.divView {
  background-color: #eee;
  flex-direction: row;
  flex: 1;
}
pre {
  flex: 1;
  border: 1px solid var(--colorBlack);
}
.divSalons,
.divContacts {
  flex-direction: column;
  border: 1px solid var(--colorBlack);
}

#ulContacts,
#ulSalons {
  flex: 1;
  background-color: #fafafa;
  list-style: none;
  padding: 50px;
}

#ulContacts li,
#ulSalons li {
  font-weight: bold;
  padding: 4px;
}
main div {
  background-color: #3f51b5;
  display: flex;
  justify-content: space-between;
}
main .divInput {
  border: 1px solid var(--colorBlack);
}
main .divInput input {
  flex: 1;
}
main div button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
main div button {
  background-color: transparent;
  border: 1px solid var(--colorWhite);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px;
}
main section {
  display: flex;
  flex-direction: column;
}

main section .divContacts {
  flex: 2;
}

main section .divSalons {
  flex: 1;
}
